.details-box{
    margin: 3%;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
.details-box img{
    height: 300px;
    width: 500px;
}
.details_text{
    text-align: left;
}
.details-box h2{
    color:cornsilk;
}
.details-box h3{
    color:cornsilk;
}
.details-box p{
    color:cornsilk;
}