*{
    font-family: 'Abril Fatface', cursive;
}
.membership-main{
    border-top: 1px solid  cadetblue;
    padding: 3%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    
}
.columns{
    padding: 3%;
    animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}
.columns p{
    padding: 10%;
}