.main{
   background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.dept-main{
    margin: 3%;
    margin-bottom: 0;
    padding: 3%;
    
}
.dept-box{
    height: 400px;
    animation: fadeInDown;
    animation-duration: 2s;
}